#EXTM3U

#EXTINF:-1 tvg-logo="", :: HBO ::
https://director.mgi9ehlj7z061brnpp28wr2x7n9wvpr10.click/v4/variant/VE1gTdz0mLzRnLv52bt9SMhFjdtM3ajFmc09SYyETZmZGZ2QjY0YTL2MDM50SZhBDNtcjZkNTLhZjNjZGNyIzL.m3u8

#EXTINF:-1 tvg-logo="", :: FOX 2 ::
https://director.mgi9ehlj7z061brnpp28wr2x7n9wvpr10.click/v4/variant/VE1gTdz0mLzRnLv52bt9SMhFjdtM3ajFmc09yY4Y2MjN2YzEDN0cTLkNTM50iNxEDNtUWZwATLyADN1UmMwYzL.m3u8

#EXTINF:-1 tvg-logo="", :: SPN 2 ::
https://director.mgi9ehlj7z061brnpp28wr2x7n9wvpr10.click/v4/variant/VE1gTdz0mLzRnLv52bt9SMhFjdtM3ajFmc09SZlhDZkdTYmJTN4MWLmZDO40SZxUDNtMjYyUWLiFWZwgDOyYzL.m3u8

#EXTINF:-1 tvg-logo="", :: SPN 2 ::
https://director.mgi9ehlj7z061brnpp28wr2x7n9wvpr10.click/v4/variant/VE1gTdz0mLzRnLv52bt9SMhFjdtM3ajFmc09CMkNTM4EWO5ImNjJTLyU2Y50COiNGNtAjZkdTLiBTMlRTNzU2L.m3u8

#EXTINF:-1 tvg-logo="", :: SPN 22 ::
https://director.mgi9ehlj7z061brnpp28wr2x7n9wvpr10.click/v3/director/VE1MGQzMThhOTliNmMyLTJlYzktOGJjNC0wZmQ3LWIwMWU0NTNl/master.m3u8?md5=mvNpiGkQ9OWhqx4lEjSBcw&expires=1741059528
